
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Manavlar Odası</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="~/UserTemplate/assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/UserTemplate/css/styles.css" rel="stylesheet" />

</head>
<body>
    <!-- Navigation-->
    <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
            <a class="navbar-brand" href="#!">Manav Odası</a>
            <a class="btn btn-primary" href="">Hakkımızda</a>
            <a class="btn btn-primary" href="">Portfölyö</a>
            <a class="btn btn-primary" href="">İletişim</a>
            <a class="btn btn-primary" href="@Url.Action("Index","Admin")">Admin</a>
            
        </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead">
        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-xl-6">
                    <div class="text-center text-white">
                        <!-- Page heading-->
                        <h1 class="mb-5">Manavlar Odasına Hoşgeldiniz!</h1>
                        <!-- Signup form-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- * * SB Forms Contact Form * *-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- This form is pre-integrated with SB Forms.-->
                        <!-- To make this form functional, sign up at-->
                        <!-- https://startbootstrap.com/solution/contact-forms-->
                        <!-- to get an API token!-->
                        <form class="form-subscribe" id="contactForm" data-sb-form-api-token="API_TOKEN">
                            <!-- Email address input-->
                            
                            <!-- Submit success message-->
                            <!---->
                            <!-- This is what your users will see when the form-->
                            <!-- has successfully submitted-->
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">Form submission successful!</div>
                                    <p>To activate this form, sign up at</p>
                                    <a class="text-white" href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                </div>
                            </div>
                            <!-- Submit error message-->
                            <!---->
                            <!-- This is what your users will see when there is-->
                            <!-- an error submitting the form-->
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <!-- Image Showcases-->
    <section class="showcase">
        <div class="container-fluid">
            <div class="row g-0">
                <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('assets/img/bg-showcase-1.jpg')"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>Hakkımızda</h2>
                    <p class="lead mb-0">
                        2023 yılında kurduğumuz internet sitemiz, toptan üretim ile başladığı girişimcilik serüvenini mağazacılık ve e-ticaret ile güçlendirmeyi başarmış, şubeleri ile de bu serüveni en ileri boyuta taşımıştır. Sunduğumuz kullanıcı öncelikli stratejilerimiz ve ayrıcalıklı müşteri portföyü ile değerini paha biçilemez şekilde ikiye katlayarak, marka değerimizi hassasiyetle zirveye taşımayı başardık. Dünya standartlarını göz önünde bulundurarak çözüm ve güven içerikli ilkemiz ile yola çıktığımız bu serüvende; otorite rayından çıkmayarak, istikrarlı şekilde sayısız müşteriye en iyi marka sahipliğini yapmış durumdayız.

                        Kuruluşundan günümüze süregelen profesyonellik, empati odaklı, dürüstlük ve gelişime açık bakış açımız ile istikrarlı büyüme sergileyerek, e-ticaret dünyasında saygın bir konuma yükselmeye hak kazandık.
                    </p>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('assets/img/bg-showcase-1.jpg')"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>Misyonumuz</h2>
                    <p class="lead mb-0">Manavlarımıza mümkün olan yardımı,mevcut en iyi seçimi ve en yüksek rahatlığı sunmaya çalışıyoruz.</p>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-lg-6 text-white showcase-img" style="background-image: url('assets/img/bg-showcase-2.jpg')"></div>
                <div class="col-lg-6 my-auto showcase-text">
                    <h2>Vizyonumuz</h2>
                    <p class="lead mb-0">Manavların çevrimiçi olarak  her şeyi bulabilecekleri ve keşfedebilecekleri,dünyanın en Manav esnafı odaklı sitesi olmak.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonials-->
    <section class="testimonials text-center bg-light">
        <div class="container">
            <h2 class="mb-5">Bazı Esnafımızın Sitemiz Hakkında Yorumları..</h2>
            <div class="row">
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="~/UserTemplate/assets/img/testimonials-1.jpg" alt="..." />
                        <h5>Fatma Hanım</h5>
                        <p class="font-weight-light mb-0">Fatma Hanım,Şişli'de bir manavımız şunları söylüyor;
                        "Mükemmel bir site emeği geçenlerin emeğine sağlık,manavımıza rahatça erişilebiliyor."</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="~/UserTemplate/assets/img/testimonials-2.jpg" alt="..." />
                        <h5>Ferit Bey</h5>
                        <p class="font-weight-light mb-0">
                            Ferit Bey,Kartal'da bir manavımız şunları söylüyor;
                            ""Mükemmel bir site emeği geçenlerin emeğine sağlık,manavımıza rahatça erişilebiliyor."
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="~/UserTemplate/assets/img/testimonials-3.jpg" alt="..." />
                        <h5>Selen Hanım</h5>
                        <p class="font-weight-light mb-0">
                            Ferit Bey,Kartal'da bir manavımız şunları söylüyor;
                            ""Mükemmel bir site emeği geçenlerin emeğine sağlık,manavımıza rahatça erişilebiliyor."
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Footer-->
    <footer class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                    
                    <p class="text-muted small mb-4 mb-lg-0">&copy; Manav Odası 2023. All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item me-4">
                            <a href="#!"><i class="bi-facebook fs-3"></i></a>
                        </li>
                        <li class="list-inline-item me-4">
                            <a href="#!"><i class="bi-twitter fs-3"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!"><i class="bi-instagram fs-3"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/UserTemplate/js/scripts.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>


